<ng-container *ngIf="empty && !loading">
  <div class="text-center mt-5 mx-auto p-4">
    <img class="mb-4 text-center pb-2 " src="/assets/zero_page_icon.svg">
    <p id="emptySearch"><i class="fas fa-exclamation-circle mx-2"></i> No Data Found. Please Refine your Search</p>
  </div>
</ng-container>
<ng-container *ngIf="empty && loading">
  <div class="text-center mt-5 mx-auto px-4 loader">
    <img src="/assets/loader.gif">
  </div>
</ng-container>


<ng-container *ngIf="!empty">
  <div class="page-wrapper chiller-theme verbatim-tab" [ngClass]="[isOn === true ? 'toggled' : 'toggle']">
    <a (click)="isOn = !isOn" id="show-sidebar" placement="right" [ngbTooltip]="isOn?'Close Filter':'Open Filter'"
      class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-filter"></i>
    </a>
    <form [formGroup]="filterForm">
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-brand">
            <span>Filter Data</span>
          </div>
          <!-- sidebar-header  -->
          
          <div class="sidebar-search">
            <div>
              <!-- <div class="input-group"> -->
                <!-- <input type="text" class="form-control search-menu" placeholder="Search Text"> -->
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let string of searchStrings" [selectable]="selectable"
                           [removable]="removable" (removed)="remove(string)">
                    {{string}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                  </mat-chip>
                  <input class="form-control search-menu" placeholder="Search Text"
                         [matChipInputFor]="chipList"
                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                         [matChipInputAddOnBlur]="addOnBlur"
                         (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <!-- <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </span>
                </div> -->
              <!-- </div> -->
            </div>
          </div>
          <!-- sidebar-search  -->
          <div class="sidebar-menu">
            <mat-accordion multi>
              <mat-expansion-panel class="mat-elevation-z0" formArrayName="impact_child">
                <mat-expansion-panel-header>
                  Impact Area
                </mat-expansion-panel-header>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    SDG
                  </mat-expansion-panel-header>
                  <ul>
                    <li *ngFor="let group of checkboxes.impact.SDG | tree">
                      <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                          <p>{{group.name}}</p>
                        </mat-expansion-panel-header>
                        <ul>
                          <li>
                            <mat-checkbox (change)="CheckAllOptions1(group.children)">
                              All
                            </mat-checkbox>
                          </li>
                          <li *ngFor="let child of group.children">
                            <mat-checkbox [formControlName]="(child.value-1)">
                              {{child.label}}
                            </mat-checkbox>
                          </li>

                        </ul>
                      </mat-expansion-panel>
                    </li>
                  </ul>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    SPI
                  </mat-expansion-panel-header>
                  <ul>
                    <li *ngFor="let group of checkboxes.impact.SPI | tree">
                      <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                          <p>{{group.name}}</p>
                        </mat-expansion-panel-header>
                        <ul>
                          <li>
                            <mat-checkbox (change)="CheckAllOptions1(group.children)">
                              All
                            </mat-checkbox>
                          </li>
                          <li *ngFor="let child of group.children">
                            <mat-checkbox [formControlName]="(child.value-1)">
                              {{child.label}}
                            </mat-checkbox>
                          </li>

                        </ul>
                      </mat-expansion-panel>
                    </li>
                  </ul>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    TSF
                  </mat-expansion-panel-header>
                  <ul>
                    <li *ngFor="let group of checkboxes.impact.TSF | tree">
                      <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                          <p>{{group.name}}</p>
                        </mat-expansion-panel-header>
                        <ul>
                          <li>
                            <mat-checkbox (change)="CheckAllOptions1(group.children)">
                              All
                            </mat-checkbox>
                          </li>
                          <li *ngFor="let child of group.children">
                            <mat-checkbox [formControlName]="child.value-1">
                              {{child.label}}
                            </mat-checkbox>
                          </li>

                        </ul>
                      </mat-expansion-panel>
                    </li>
                  </ul>
                </mat-expansion-panel>
                <mat-expansion-panel class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    NewImpact
                  </mat-expansion-panel-header>

                  <ul>
                    <li *ngFor="let group of checkboxes.impact.NewImpact | tree">
                      <mat-expansion-panel class="mat-elevation-z0">
                        <mat-expansion-panel-header>
                          <p>{{group.name}}</p>
                        </mat-expansion-panel-header>
                        <ul>
                          <li *ngFor="let subgroup of group.children | tree:'parent'">
                            <mat-expansion-panel class="mat-elevation-z0">
                              <mat-expansion-panel-header>
                                <p>{{subgroup.name}}</p>
                              </mat-expansion-panel-header>
                              <ul>
                                <li>
                                  <mat-checkbox (change)="CheckAllOptions1(subgroup.children)">
                                    All
                                  </mat-checkbox>
                                </li>
                                <li *ngFor="let child of subgroup.children">
                                  <mat-checkbox [formControlName]="child.value-1">
                                    {{child.label}}
                                  </mat-checkbox>
                                </li>
                              </ul>
                            </mat-expansion-panel>
                          </li>

                        </ul>
                      </mat-expansion-panel>
                    </li>
                  </ul>

                </mat-expansion-panel>
              </mat-expansion-panel>

              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                  Source
                </mat-expansion-panel-header>
                <ul>
                  <li>
                    <mat-checkbox (change)="CheckAllOptions(checkboxes.source,'source')">
                      All
                    </mat-checkbox>
                  </li>
                  <li *ngFor="let item of checkboxes.source">
                    <mat-checkbox [value]="item.value" [checked]="item.checked"
                      (change)="updateFilterForm('source',item.value,$event)">
                      {{item.label}}
                    </mat-checkbox>
                  </li>
                </ul>
              </mat-expansion-panel>

              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                  Type
                </mat-expansion-panel-header>
                <ul>
                  <li>
                    <mat-checkbox (change)="CheckAllOptions(checkboxes.type,'type')">
                      All
                    </mat-checkbox>
                  </li>
                  <li *ngFor="let item of checkboxes.type">
                    <mat-checkbox [value]="item.value" [checked]="item.checked"
                      (change)="updateFilterForm('type',item.value,$event)">
                      {{item.label}}
                    </mat-checkbox>
                  </li>
                </ul>
              </mat-expansion-panel>

              <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                  Sentiment
                </mat-expansion-panel-header>
                <ul>
                  <li>
                    <mat-checkbox (change)="CheckAllOptions(checkboxes.sentiment,'sentiment')">
                      All
                    </mat-checkbox>
                  </li>
                  <li *ngFor="let item of checkboxes.sentiment">
                    <mat-checkbox [value]="item.value" [checked]="item.checked"
                      (change)="updateFilterForm('sentiment',item.value,$event);">
                      {{item.label}}
                    </mat-checkbox>
                  </li>
                </ul>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="row">
            <div class="col-sm-12 text-center">
              <button class="btn btn-md" (click)="applyFilter()">Apply</button>
              <span style="margin:5px;"></span>
              <button class="btn btn-secondary btn-md" (click)="reset()">Reset</button>
            </div>
          </div>
          <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
      </nav>
    </form>
    <!-- sidebar-wrapper  -->




    <main class="page-content">
      <!-- <code>{{ impact_child.value | json }}</code> -->
      <!-- <div *ngFor="let control of filterForm.get('impact_child').controls;let i = index "> 
        <div *ngIf="control.value"><button>{{tags[i].tag}}</button></div>
      </div> -->
      <div class="container-fluid">
        <div class="d-flex py-2 justify-content-end">
          <button type="button" class="btn btn-sm viewType py-1 rounded-0 border" (click)="flatView = true"
            [ngClass]="[flatView ? 'selected' : 'notSelected']"><i class="fas fa-list pr-2"></i>List</button>
          <button type="button" class="btn btn-sm viewType py-1 rounded-0 border" (click)="flatView = false"
            [ngClass]="[!flatView ? 'selected' : 'notSelected']"><i class="fas fa-indent pr-2"></i>Hierarchy</button>
        </div>
        <div class="d-flex justify-content-end">
          <div>
            <pagination-controls class="d-inline-block" directionLinks="true" (pageChange)="p = $event">
            </pagination-controls>
          </div>
        </div>
        <ng-container *ngIf="!flatView">
          <div *ngFor="let key of keys">
            <div class="card sub-details">
              <div class="p-3">
                <div class="row">
                  <span class="col-sm-12 location col-md-2">
                    {{items.get(key).region}} {{items.get(key).post_id}}
                  </span>
                  <span class="col-sm-4 col-md-3 date">
                    {{items.get(key).created_time}}
                  </span>
                  <span class="col-md-4 col-sm-4 sources">
                    From {{items.get(key).platform_name}}
                  </span>
                  <span class="col-sm-4 col-md-3 metadata text-right">
                    {{items.get(key).topics}}
                  </span>
                </div>
                <div class="row d-flex align-items-center px-0 mx-0">
                  <span class="mr-2 smiley text-center">
                    <i
                      class="far {{items.get(key).sentiment == -1 ? 'fa-frown' : items.get(key).sentiment == 0 ? 'fa-meh' : 'fa-smile' }}"></i>

                  </span>
                  <span class="mx-2 icon-comment text-center">
                    <i class="far fa-file-alt"></i>
                  </span>
                  <div class="col-10 inline-block">
                    <span>{{((items.get(key).contentLength >=250)) ? items.get(key).content.substr(0, 250) :
                      items.get(key).content}}</span>
                    <span *ngIf="(items.get(key).contentLength >=250) && !show">...</span><span
                      class="closed">{{items.get(key).content.substr(250)}}</span>
                    <button *ngIf="items.get(key).contentLength >=250"
                      class="bg-transparent border-0 text-primary text-center align-items-end"
                      (click)="showText($event)">Show More</button>
                  </div>

                </div>
                <!-- <div class="row topics col-12 d-flex justify-content-center mt-3">
                    <span class="pink">
                      {{discourse.level0}}
                    </span>
                    <span class="blue">
                      {{discourse.level1}}
                    </span>
                    <span class="red">
                      {{discourse.level2}}
                    </span>
                  
                </div> -->
              </div>
            </div>


            <ng-container *ngIf="items.get(key).comments.length > 0">
              <div *ngFor="let comment of items.get(key).comments" class="card sub-details threaded">
                <div class="p-3">
                  <div class="row">
                    <span class="col-sm-12 location col-md-2">
                      {{comment.region}}
                    </span>
                    <span class="col-sm-4 col-md-3 date">
                      {{comment.created_time}}
                    </span>
                    <span class="col-md-4 col-sm-4 sources">
                      From {{comment.platform_name}}
                    </span>
                    <span class="col-sm-4 col-md-3 metadata text-right">
                      {{comment.topics}}
                    </span>
                  </div>
                  <div class="row d-flex align-items-center px-0 mx-0">
                    <span class="mr-2 smiley text-center ">
                      <i
                        class="far {{comment.sentiment == -1 ? 'fa-frown' : comment.sentiment == 0 ? 'fa-meh' : 'fa-smile' }}"></i>
                    </span>
                    <span class="mx-2 icon-comment text-center">
                      <i class="far fa-file-alt"></i>
                    </span>

                    <div class="col-10 inline-block">
                      <span>{{((comment.contentLength >=250)) ? comment.content.substr(0, 250) :
                        comment.content}}</span>
                      <span *ngIf="(comment.contentLength >=250) && !show">...</span><span
                        class="closed">{{comment.content.substr(250)}}</span>
                      <button *ngIf="comment.contentLength >=250"
                        class="bg-transparent border-0 text-primary text-center align-items-end"
                        (click)="showText($event)">Show More</button>
                    </div>
                  </div>
                  <!-- <div class="row topics col-12 d-flex justify-content-center mt-3">
                      <span class="pink">
                        {{discourse.level0}}
                      </span>
                      <span class="blue">
                        {{discourse.level1}}
                      </span>
                      <span class="red">
                        {{discourse.level2}}
                      </span>
                    
                  </div> -->
                </div>
              </div>

            </ng-container>
          </div>
        </ng-container>

        <ng-container *ngIf="flatView">
          <div *ngIf="filteredDiscourses.length==0" class="text-center mt-5 mx-auto p-4">
            <img class="mb-4 text-center pb-2 " src="/assets/zero_page_icon.svg">
            <p id="emptySearch"><i class="fas fa-exclamation-circle mx-2"></i> No Data Found. Please Refine your Search
            </p>
          </div>
          <div *ngFor="let discourse of filteredDiscourses | paginate: { itemsPerPage: 10, currentPage: p }">
            <mat-card class="sub-details">
              <mat-card-header>
                <p class="date p-3 mx-3 text-center">
                  {{discourse.created_time}}
                </p>
                <mat-card-title>{{discourse.type | titlecase}}</mat-card-title>
                <mat-card-subtitle>From {{discourse.platform_name}}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="row d-flex align-items-center p-0 mx-3">
                  <span class="mr-2 smiley text-center"
                    [ngbTooltip]="discourse.sentiment == -1 ?'Negative':discourse.sentiment == 0 ?'Neutral':'Positive'">
                    <i
                      class="far {{discourse.sentiment == -1 ? 'fa-frown icon-negative' : discourse.sentiment == 0 ? 'fa-meh icon-neutral' : 'fa-smile icon-positive' }} fa-lg"></i>
                  </span>
                  <span class="mx-2 icon-comment text-center" [ngbTooltip]="discourse.isPost?'Post':'Comment'">
                    <i
                      class="far fa-comment-dots {{discourse.isPost == 1 ? 'far fa-edit' : 'fa-comment-dots' }} fa-lg icon-grey"></i>
                  </span>

                  <div class="col-10 inline-block">
                    <span>{{((discourse.comment.length >=250)) ? discourse.comment.substr(0, 250) :
                      discourse.comment}}</span>
                    <span *ngIf="(discourse.comment.length >=250) && !show">...</span><span
                      class="closed">{{discourse.comment.substr(250)}}</span>
                    <button *ngIf="discourse.comment.length >=250"
                      class="bg-transparent border-0 text-primary text-center align-items-end"
                      (click)="showText($event)">Show More</button>
                  </div>
                </div>
                <div class="p-0 m-3">
                  <mat-chip-list >
                    <mat-chip style="color: #585858;background-color: #D6EAF8;"
                      *ngFor="let tag of discourse.impact_area_id.split(',')">{{tags[+tag-1].tag}}
                    </mat-chip>
                  </mat-chip-list>
                </div>
                
              </mat-card-content>
              <mat-card-actions align="end" *ngIf="discourse.url">
                <a [href]="discourse.url"><u>View original post</u></a>
                <span class="mx-2 text-center" >
                  <i class="fas fa-external-link-alt"></i>
                </span>
              </mat-card-actions>
            </mat-card>
          </div>
        </ng-container>

      </div>

    </main>
    <!-- page-content" -->
  </div>
</ng-container>