<p>
 Community Insights is a prototype system designed and built through a partnership between NewImpact and the Urbanalytics Group at the University of Washington iSchool led by Bill Howe. This project was funded by a grant from the Washington Research Foundation and Civic Commons/The Seattle Foundation. <br>
  <br>
  <br>
<img width="380" src="assets/WRF_ResearchFoundation.png"/>
<img src="assets/sf_logo_trans.gif"/>
<img width="120" src="assets/civic_commons.png"/>

  <br>
  <br>
  <br>
  Code is available on GitHub: <a href='https://github.com/winwinwiki/CommunityInsights' target="_blank" rel="noopener noreferrer">https://github.com/winwinwiki/CommunityInsights</a><br>
  <br>
  The aim of this project was to create a community listening tool that dynamically collects, organizes, and visualizes comments, feedback, and opinions from multiple sources of public and social media data to help innovators and policy makers access a diverse range of voices and conversations to help identify needs and opportunities in the communities/markets in which they work. Data sources have been curated by the NewImpact team (see below) to help focus on community needs rather than the wide range of discussion on social media. Machine learning models to label the data by impact area, sentiment, and type of discourse were developed by the UW team and trained on public data tagged by hand by the NewImpact team. While these models achieve high accuracy in evaluation, they may in some cases produce unusual results due to the inherent ambiguity of the task and various sources of uncertainty.
  <br><br>
  Data are tagged and organized by:<br>
  
  ·        Impact Area: UN Sustainable Development Goals (SDG); Social Progress Index (SPI); Seattle Foundation Scorecard for Shared Prosperity (TSF); NewImpact roll-up SDG/SPI/TSF<br>
  
  ·        Sentiment: Positive, Neutral, Negative<br>
  
  ·        Type of discourse: Question, Idea, Proposal, Response, Comment<br><br>
  
   Thank you to the researchers/developers on this project:<br>
  
  ·        Sean Yang<br>
  
  ·        Ramiro Steinmann Petrasso<br>
  
  ·        Akriti Karpatne<br>
  
  ·        Yiyi Ren <br>
  
  ·        Bill Howe (faculty lead) <br>
  
   
  <br>
  Sources used are listed below. We access and process original posts and the first level of comments only. We do not have access to any private information associated with these accounts. Please let us know if there are any additional sources you think should be included ( sendmail:<u>contact@newimpact.care</u>)
  <br><br>
  Twitter <br>
  
  o   Trending posts in King County<br>
  
  o   iheartkcparks<br>
  
  o   kcexec<br>
  
  o   kcmetrobus<br>
  
  o   kingcosoPIO<br>
  
  o   MayorJenny<br>
  
  o   SeattleCouncil<br>
  
  o   SeattlePD<br>
  
  o   GirmayZahilay<br>
  
  o   Joemcdermottwa<br>
  
  o   kathylambert<br>
  
  o   Kccclaudia<br>
  
  o   DaveUpthegrove<br>
  
  o   KCCKohlWelles<br>
  
  o   KCCReaganDunn<br>
  
  o   RDembowski<br>
  <br>
  Facebook<br>
  
  o   KCPubHealth<br>
  
  o   KingCountyWA<br>
  
  o   KingCountyCouncil<br>
  
  o   MayorJennyDurkan<br>
  
  o   petevonreichbauer<br>
  
  o   CouncilmemberRodDembowski<br>
  
  o   JoeMcDermott8<br>
  
  o   lambert.kathy<br>
  
  o   councilmember.girmay<br>
  
  o   upthegrove<br>
  
  o   CMKohlWelles<br>
  
  o   councilmemberreagandunn<br>
  
  o   SeattleTimes<br>
  <br>
  Reddit<br>
  
  o   Seattle<br>
  
  o   SeattleWA<br>
  
  o   Kingcounty<br>
  
  o   BellevueWA<br>
  
  o   eastside<br>
  
  o   Renton<br>
  
  o   Auburnwa<br>
  
  o   Federalway<br>
  
  o   KentWA<br>
  
  o   SeattleJobs<br>
  
  o   Washington<br>
  
  o   WashstateCOVID<br>
</p>
