#set( $cols = [] )
#set( $vals = [] )
#foreach( $entry in $ctx.args.createSourceInput.keySet() )
  #set( $discard = $cols.add($entry) )
  #set( $discard = $vals.add("'$ctx.args.createSourceInput[$entry]'") )
#end
#set( $valStr = $vals.toString().replace("[","(").replace("]",")") )
#set( $colStr = $cols.toString().replace("[","(").replace("]",")") )
{
  "version": "2018-05-29",
  "statements":   ["INSERT INTO Source $colStr VALUES $valStr", "SELECT * FROM Source WHERE source_id=$ctx.args.createSourceInput.source_id"]
}