#**
  Select statement for a relational database data source
*#
{
    "version": "2018-05-29",
    "statements": [
        "SELECT hashtag, count(*) as counts from DiscourseHashtags group by hashtag order by counts desc limit 30"
    ]
}