#**
  Select statement for a relational database data source
*#
{
    "version": "2018-05-29",
    "statements": [
        "SELECT impact_area_id, count(*) as value FROM TreeMapMaster where date between '$ctx.args.start' and '$ctx.args.end' and region='$ctx.args.region' and parent_region = '$ctx.args.parent' group by impact_area_id;"
    ]
}