#**
  Select statement for a relational database data source
*#
{
    "version": "2018-05-29",
    "statements": [
        "select impact_area_id, source_ontology, tag, level1, level0, (CASE WHEN level0 ='Inclusion' THEN '#2194c0' WHEN level0 = 'Growth' THEN '#ffc000' WHEN level0='Readiness' THEN '#53a948' END) as color from TSFTree"
        ]}