#**
  Select statement for a relational database data source
*#
{
    "version": "2018-05-29",
    "statements": [
        "Select d.discourse_id, d.url, d.region as region, d.content as comment, ds.sentiment, GROUP_CONCAT(DISTINCT dtt.topic) as Topics, so.platform_name, d.created_time, GROUP_CONCAT(DISTINCT di.impact_area_id) as impact_area_id, ia.source_ontology, d.isPost, d.post_id, dt.type From Discourse d Join Source so on d.source_id = so.source_id Left join DiscourseImpactArea di on d.discourse_id = di.discourse_id Left join DiscourseTopicGraph dtt on d.discourse_id = dtt.discourse_id LEFT JOIN DiscourseSentiment ds ON d.discourse_id = ds.discourse_id LEFT JOIN ImpactTree ia ON ia.impact_area_id = di.impact_area_id LEFT JOIN DiscourseType dt ON d.discourse_id = dt.discourse_id WHERE d.created_time between '$ctx.args.start' and '$ctx.args.end' AND d.region = '$ctx.args.region' AND ia.source_ontology = source_ontology GROUP BY d.discourse_id order by d.created_time desc limit $ctx.args.limit offset $ctx.args.offset"
        ]
}