#**
  Select statement for a relational database data source
*#
{
    "version": "2018-05-29",
    "statements": [
        "select topic from DiscourseTrendingTopics where discourse_id = '$ctx.args.discourse_id'"
    ]
}